body {
    background-color: #69b1bb;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px 5px;
    border: 5px solid;
    border-radius: 15px;
    background-color: rgb(24, 23, 22);
}

h1 span {
    color: red;
    text-decoration: solid underline;
}
.centr {
    margin: auto;
}

.box {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    font-size: 35px;
    color: #ffffff;
}

.card {
    border-radius: 15px;
    background-color: red;
    animation-name: cardss;
    animation-duration: 5s;
}
.card:hover {
    background-color: rgb(255, 234, 0);
}
